    /*
    Flaticon icon font: Flaticon
    Creation date: 28/12/2021 04:51
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

.flaticon-water:before { content: "\f100"; }
.flaticon-food-and-restaurant:before { content: "\f101"; }
.flaticon-book:before { content: "\f102"; }
.flaticon-care:before { content: "\f103"; }
.flaticon-back:before { content: "\f104"; }
.flaticon-user:before { content: "\f105"; }
.flaticon-clock:before { content: "\f106"; }
.flaticon-pin:before { content: "\f107"; }
.flaticon-play:before { content: "\f108"; }
.flaticon-upload:before { content: "\f109"; }
.flaticon-call:before { content: "\f10a"; }
.flaticon-envelope:before { content: "\f10b"; }
.flaticon-shopping-bag:before { content: "\f10c"; }
.flaticon-magnifying-glass:before { content: "\f10d"; }
    
    $font-Flaticon-water: "\f100";
    $font-Flaticon-food-and-restaurant: "\f101";
    $font-Flaticon-book: "\f102";
    $font-Flaticon-care: "\f103";
    $font-Flaticon-back: "\f104";
    $font-Flaticon-user: "\f105";
    $font-Flaticon-clock: "\f106";
    $font-Flaticon-pin: "\f107";
    $font-Flaticon-play: "\f108";
    $font-Flaticon-upload: "\f109";
    $font-Flaticon-call: "\f10a";
    $font-Flaticon-envelope: "\f10b";
    $font-Flaticon-shopping-bag: "\f10c";
    $font-Flaticon-magnifying-glass: "\f10d";